:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f8f8fc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 4px;
  box-shadow:
    0px 0.5px 2.5px rgba(0, 0, 0, 0.3),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.05);
  min-width: 35px;
}

header {
  position: absolute;
  width: calc(100% - 1rem - 1rem);
  top: 1rem;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Custom */
.time {
  color: #0c0a09;
  font-size: 10rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-variant-numeric: tabular-nums;
}

.watch {
  cursor: default;
}

.watch:focus {
  border: none;
  outline: none;
}

.btn-group {
  display: flex;
  gap: 0.5rem;
}

.switch {
  padding: 3px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow:
    0px 0.5px 2.5px rgba(0, 0, 0, 0.3),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.05);
  display: flex;
  gap: 3px;
}

.switch-item {
  border-radius: 4px;
  box-shadow: none;
  padding: 4px 20px;
  font-weight: bold;
  color: #000000;
}

.switch-active {
  background-color: #000000;
  color: #ffffff;
}
